@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --primary-color: #fc4100 !important;
  --primary-light-1: #fc410010;
  --primary-light-2: #fc410010;
  --hero-image-from: #f8b4741a;
  --hero-image-to: #ff4c1f0c;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #32455e;

  --transition-reguler: 0.3s;
  --transition-slow: 0.6s;
}

/* Font Family */
@layer utilities {
  .font-sora {
    font-family: var(--font-sora), sans-serif;
  }

  .font-unbounded {
    font-family: var(--font-unbounded), cursive;
  }
}

body {
  background: #1c1b21;
  color: var(--white-color);
  overflow-y: auto;
}

/* Navbar */
.active-links {
  color: var(--primary-color);
}

.active-links:after,
.nav-menu a:after,
.menu li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: var(--transition-reguler);
}

.nav-menu a:after,
.menu li a:after {
  opacity: 0;
}

.nav-menu a:hover:after,
.menu li a:hover:after {
  opacity: 1;
}

.menu li a {
  padding-bottom: 10px;
}

.active-links:after {
  opacity: 1 !important;
}

/* Header */

.hero-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 48%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.hero-social i {
  width: 50px;
  height: 50px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: var(--transition-reguler);
}

.hero-social i:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: translateY(-10px);
}

/* Services */

.stroke-text {
  -webkit-text-stroke: 1px var(--white-color);
  color: transparent;
  transition: var(--transition-reguler);
}

.service-card:hover .stroke-text {
  -webkit-text-stroke: 1px var(--primary-color);
}

/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* Work */
@keyframes Anim-bottom {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100;
  }
}

.work-content h2 {
  opacity: 0;
  animation: Anim-bottom var(--transition-reguler) 1.4s forwards linear;
}
.work-content h3 {
  opacity: 0;
  animation: Anim-bottom var(--transition-reguler) 1.2s forwards linear;
}
.work-content p {
  opacity: 0;
  animation: Anim-bottom var(--transition-reguler) 1s forwards linear;
}
.work-icons {
  opacity: 0;
  animation: Anim-bottom var(--transition-reguler) 0.8s forwards linear;
}
.work-share {
  opacity: 0;
  animation: Anim-bottom var(--transition-reguler) 0.6s forwards linear;
}
.work-image {
  opacity: 0;
  animation: Anim-bottom var(--transition-reguler) 0.4s forwards linear;
}

/* Contact */
.contact-col span {
  transition: var(--transition-reguler);
  cursor: pointer;
}

.contact-col:hover span {
  border-color: var(--white-color);
  color: var(--white-color);
}

@media (max-width: 991px) {
  body {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }
}
